*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('https://giffiles.alphacoders.com/209/209037.gif');
    background-repeat: no-repeat;
    display: flex;
    overflow: hidden;
}

.container{
    width: 500px;
    height: 400px;
    margin: 200px auto;
}

.glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    text-align:center;
    color: aqua;
    font-size: larger;
    animation: colorful 6s infinite;
}

@keyframes colorful {
    100%{
        filter: hue-rotate(360deg);
    }
    
}

@media (max-width: 800px) {
    .container{
        width: 800px;
        height: 350px;
        margin: 15px ;
    }
    
}