* {
    font-family: 'Play', sans-serif;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: black;
    display: block;
    margin: 0;
    justify-content: center;
    height: 100vh;
    width: 100%;
}
.overflow-scroll {
    overflow: scroll;
  }
.hidden {
    display: none;
}

.warning-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    z-index: 9999;
}

.warning {
    color: red;
    position: relative;
    text-align: center;
    font-size: 20px;
    text-shadow: 0 0 90px red;
    top: 6%;
}

.button-container {
    position: relative;
    top: 20%;
    left: 40%;
    width: 100%;
}

.continue {
    position: relative;
    width: 20rem;
    height: 4rem;
    font-size: 20px;
    background: linear-gradient(45deg, rgb(50, 84, 177), rgb(248, 81, 81));
    border: none;
    border-radius: 10px;
    animation: colorful 5s infinite;
}

.text-content {
    font-weight: 300;
    flex-wrap: wrap;
    font-size: 1.2rem;
    color: cornsilk;
    position: relative;
    /* top: 4%; */
    margin-left: 4%;
    margin-right: 5%;
    padding: 3%;
}

.container {
    width: 85%;
    height: fit-content;
    position: relative;
    margin: 2% auto;

}

/* Glass effect */
.glass {
    background: linear-gradient(135deg, rgba(112, 203, 245, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(76, 247, 232, 0.18);
    box-shadow: 0 8px 32px 0 rgba(10, 144, 161, 0.37);
}

@keyframes colorful {
    100% {
        filter: hue-rotate(360deg);
    }

}

.continue:hover {
    background: red;
    color: rgb(0, 238, 255);
    box-shadow: 0 0 2px red,
        0 0 25px red,
        0 0 50px red,
        0 0 20px red;
}

@media (max-width: 768px) {

    html,
    body {
        height: fit-content;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .video {
        position: relative;
        width: fit-content;
        width: 100%;
        height: 100%;
        top: 10%;
        overflow: hidden;


    }
    .video-container {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        /* right: 51%; */
    }

    .warning {
        display: flex;
    }

    .button-container {
        display: flexbox;
        left: 8%;
        overflow: hidden;
    }

    .continue {
        width: 80%;
    }

    .glass {
        width: 90%;
        border-radius: 0%;
    }
}