* {

    font-family: 'Play', sans-serif;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: black;
    display: block;
    margin: 0;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.hidden {
    display: none;
}

.warning-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    z-index: 9999;
}

.warning {
    color: red;
    position: relative;
    text-align: center;
    font-size: 20px;
    text-shadow: 0 0 90px red;
    top: 6%;
}

.button-container {
    position: relative;
    top: 20%;
    left: 40%;
    width: 100%;
}

.continue {
    position: relative;
    width: 20rem;
    height: 4rem;
    font-size: 20px;
    background: linear-gradient(45deg, rgb(50, 84, 177), rgb(248, 81, 81));
    border: none;
    border-radius: 10px;
    animation: colorful 5s infinite;
}

.text-content {
    flex-wrap: wrap;
    font-size: 1.2rem;
    color: rgba(69, 227, 238, 0.966);
    position: relative;
    top: 4%;
    margin-left: 4%;
    margin-right: 5%;
    border-radius: 10px;
    box-shadow: 0px -20px 10px -10px rgba(250, 14, 34, 0.808) inset,
    0px 20px 10px -10px rgba(250, 14, 34, 0.774) inset;
    padding: 3%;

}

@keyframes colorful {
    100% {
        filter: hue-rotate(360deg);
    }

}

.continue:hover {
    background: red;
    color: rgb(0, 238, 255);
    box-shadow: 0 0 2px red,
        0 0 25px red,
        0 0 50px red,
        0 0 20px red;
}


@media (max-width: 768px) {
    html {
        overflow: scroll;
    }

    body {
        justify-content: center;
        /* overflow: hidden; */
    }

    .warning {
        display: flex;
    }

    .button-container {
        display: flexbox;
        left: 8%;
        overflow: hidden;
    }

    .continue {
        width: 80%;
    }
}