* {
    margin: 0;
    padding: 0;
    font-family: 'Play', sans-serif;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.warning-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    z-index: 9999;
  
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
}

.warning {
    /* flex-wrap: wrap; */
    color: red;
    position: relative;
    top: 320px;
    /* left: 95px; */
    transform: translate(25%,-25%);
    font-size: 20px;
    text-shadow: 0 0 90px red;
}

.text-content {
    position: relative;
    /* z-index: 2; */
    height: 100%;
    width: 100%;
}

.continue {
    /* flex-wrap: wrap; */
    position: relative;
    top: 370px;
    text-align: center;
    /* top: 442px; */
    left:40%;
    width: 245px;
    padding: 15px;
    font-size: 20px;
    background: linear-gradient(45deg, rgb(50, 84, 177), rgb(248, 81, 81));
    border: none;
    border-radius: 10px;
    animation: colorful 5s infinite;
}

@keyframes colorful {
    100% {
        filter: hue-rotate(360deg);
    }

}

.continue:hover {
    background: red;
    color: rgb(0, 238, 255);
    box-shadow: 0 0 2px red,
        0 0 25px red,
        0 0 50px red,
        0 0 20px red;
}

@media (max-width: 1000px) {
    .warning {
        font-size: 20px;
        top: 40px;
        left: -67px;
    }

    .continue {
        top: 200px;
        left: 65px;
    }
}

@media (width: 820px) {
    .warning{
        top: 40px;
        left: -125px;
    }

    .continue{
        left: 280px;
    }
    
}

@media (width: 768px) {
    .warning{
        left: -125px;
    }

    .continue{
        left: 250px;
    }
}