*{
    margin: 0;
    padding: 0;
    font-family: 'Play', sans-serif;
}

body{
    background-image: url('https://images7.alphacoders.com/114/1146879.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    justify-content: center;
}

.writer{
    color: white;
    display: flex;
}

.writer, .first-text{
    position: relative;
    top: 19px;
    font-size: 75px;
}

.wirter, .second-text{
    height: 0px;
    line-height: 60px;
    font-size: 75px;
}

.second-text li{
    position: relative;
    color: rgb(233, 92, 122);
    top: 33px;
    list-style: none;
    padding: 0 30px;
    text-shadow: 0 0 20px red;
    animation: slide 12s steps(1) infinite, colorful 6s infinite;
}

@keyframes slide {
    100%{
        top: -238px;
    }
}

@keyframes colorful {
    100%{
        filter: hue-rotate(360deg);
    }
}

.second-text li span{
    position: relative;
}

.second-text li span::before{
    content: '';
    position: absolute;
    left: 0%;
    width: 370px;
    height: 67px;
    background: black;
    border-left: 2px solid cyan;
    animation: typing 2s steps(1000) infinite alternate;
    /* animation-iteration-count: infinite;
    animation-direction: alternate; */
}

@keyframes typing{
    100%{
        left: 100%;
        margin: 0 -200px 0 2px;
    }
}