body {
   background-image: url('https://images7.alphacoders.com/114/1146879.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   display: grid;
}   

h1{
    color: white;
}
